#state-map {
	height: 80vh;
	width: 100vw;

  & + #state-map {
    margin-top: 20vh;
  }
}

[data-highcharts-chart="0"], [data-highcharts-chart="1"], [data-highcharts-chart="2"], [data-highcharts-chart="3"] {
  height: 95vh;
  width: 60vw;
  margin: 0 auto;
}

#tooltipChart {
  height: 75%;
  width: 90%;
  margin: 0 auto;
}

.highcharts-credits {
  display: none;
}

.highcharts-background {
  fill: #feefd5;
}

.highcharts-tooltip {

  > span {
    margin-top: 2vh;
    height: 50vh;
  }

  .tooltip__header {
  	font-weight: bold;
  	font-size: 14px;
  }

  .highcharts-background {
    fill: white;
  }
}

.highcharts-text-outline {
  fill: #3b3b3b;
}

