@import 'index';

$background: #feefd5;

body {
  background: $background;
  font-family: 'Merriweather', "Helvetica Neue", serif;
  color: #3b3b3b;
}

h2 {
  font-family: "Trirong";
}

.text-center {
  text-align: center;
  margin: 0 auto;
}
